server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ridesharing
    username: wilfred
    password: wiliy8615.
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret: Z2F0ZXdheWFwaTIwMjVXeXpRbU1jRGd6b1RYaEZ0Q0hYeXRCeGdRYkZvTnFRVmRZemlKT2p3a1NwRFRkTHg1Ug
  expiration: 900000

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    liquibase: DEBUG
    org.springframework.boot.autoconfigure.flyway: DEBUG
    root: INFO